<h1><img src="/img/card.jpg" height="60"/> Visiitkaardid </h1>
<div class="row">

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Eesnimi</th>
                <th scope="col">Perekonnanimi</th>
                <th scope="col">Telefonid</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <?php
                $escapeHtml = 'htmlspecialchars';
                $posts = $variables;

                foreach ($posts as $postArray) {
                ?>
                <td>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<?= $postArray['id'] ?>">
                        <?php echo $escapeHtml($postArray['firstName'])?>
                </td>
                <td>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<?= $postArray['id'] ?>">
                    <?php echo $escapeHtml($postArray['lastName']) ?>
                </td>
                <td>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<?= $postArray['id'] ?>">
                    <?php foreach ($postArray['phone'] as $numberArray => $value){
                        echo '<li> ' .$escapeHtml($value). ' </li>';
                    }  ?>
                </td>

                </td>
                <td>
                    <ul id="collapse<?= $escapeHtml($postArray['id']) ?>" class="panel-collapse collapse">
                        <li>Sünnikuupäev: <?= substr(strip_tags($postArray['birthdate']), 0, 25); ?></li>
                        <li>Kodulehekülg: <?= substr(strip_tags($postArray['contact_url']), 0, 50); ?></li>
                        <li>Epost: <?= substr(strip_tags($postArray['contact_email']), 0, 50); ?></li>
                        <li>Kirjeldus: <?= substr(strip_tags($postArray['contact_description']), 0, 300); ?></li>
                        <p>
                            Postitas:
                            <a href="mailto:<?php echo $escapeHtml($postArray['id_user']['email']);
                            ?>" ><?php
                                echo $escapeHtml($postArray['id_user']['name']);
                                ?></a>
                            Postitati: <?php echo $escapeHtml(date('jS \of F Y', strtotime($postArray['date_created'])));
                            ?>
                        </p>
                        <button type="button" class="btn btn-primary btn-xs"><a href="/?cmd=editcontact&id=<?= $postArray['id'] ?>">Muuda</a></button>

                    </ul>

                </td>
            </tr>

            <?php
            }
            ?>
            </tbody>
        </table>
    </div>
</div>