<h1>Logi sisse, et muuda/sirvida või lisada kontakte</h1>
<div class="row">

    <div class="col-md-8">


        <?php
        if (isset($_REQUEST['error']) AND $_REQUEST['error']) echo "
        <div class=\"alert alert-danger\" role=\"alert\" id='error-block'>Kredentsiaalid on valed!</div>";
       
        
        
        /* 
        
        
        
        <form name="loginform" id="loginform" action="/?cmd=loginsubmitted" method="post">
            <p>
                <label for="user_login">Epost<br>
                    <input type="email" name="email username" id="user_login" aria-describedby="login_error" class="input" value="" size="20"></label>
            </p>
            <p>
                <label for="user_pass">Parool<br>
                    <input type="password" name="password" id="user_pass" aria-describedby="login_error" class="input" value="" size="20"></label>
            </p>
            <p class="submit">
                <input type="submit" name="wp-submit loginButton" id="wp-submit" class="btn btn-default" value="Login">
               
                
            </p>
        </form>
        
        */
        ?>
        
        

        <form class="form-horizontal" action="/?cmd=loginsubmitted" method="post">
          <div class="form-group">
            <label class="control-label col-sm-2" for="username">Kasutajanimi:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" name="username" placeholder="Sisesta kasutajanimi">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="password">Parool:</label>
            <div class="col-sm-10"> 
              <input type="password" class="form-control" id="password" name="password" placeholder="Parool">
            </div>
          </div>
          
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Sisesta</button>
            </div>
          </div>
        </form>
        
        
        

    </div>
</div>