<script type="text/javascript">
    $(document).ready(function(){
        var maxField = 10; //Input fields increment limitation
        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('.field_wrapper'); //Input field wrapper
        var fieldHTML = '<div><input type="number" class="form-control" id="phone" name="phone[new][]" ' +
            'placeholder="Enter phone number"/><a href="javascript:void(0);" class="remove_button">' +
            '<img src="/img/remove-icon.png" height="16" width="16"/></a></div>'; //New input field html
        var x = 1; //Initial field counter is 1

        //Once add button is clicked
        $(addButton).click(function(){
            //Check maximum number of input fields
            if(x < maxField){
                x++; //Increment field counter
                $(wrapper).append(fieldHTML); //Add field html
            }
        });

        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button', function(e){
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });
</script>
<h1>Edit contact</h1>
<div class="row">


    <div class="col-md-8">


        <?php
        if (isset($_REQUEST['error']) AND $_REQUEST['error'])
            echo "<br /><q style='color:red'>Credentials are incorrect</q>";
        ?>

        
        <?php
                $escapeHtml = 'htmlspecialchars';
                $posts = $variables;
        foreach ($posts as $postArray) {
                ?>
        
        
        
        <form action="/?cmd=editcontactsubmitted" class="form-horizontal"  method="post">
            <input type="text" class="form-control hidden" id="id" name="id"
                   value="<?php echo $escapeHtml($postArray['id'])?>">
          <div class="form-group">
            <label class="control-label col-sm-2" for="title">Firstname:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="firstName" name="firstName"
                     value="<?php echo $escapeHtml($postArray['firstname'])?>" data-validator="required|min:2">
            </div>
          </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="title">Lastname:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" name="lastName"
                           value="<?php echo $escapeHtml($postArray['lastname'])?>" data-validator="required|min:2" >
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="title">Birthdate:</label>
                <div class="col-sm-10">
                    <input type="text" name="birthdate" id="birthdate" class="form-control" data-provide="datepicker"
                           value="<?php echo $escapeHtml($postArray['birthdate'])?>" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="title">Website:</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" id="contact_url" name="contact_url"
                    value="<?php echo $escapeHtml($postArray['contact_url'])?>">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="title">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="contact_email" name="contact_email"
                    value="<?php echo $escapeHtml($postArray['contact_email'])?>">
                </div>
            </div>
            <div class="form-group">
                    <label class="control-label col-sm-2" for="title">Phone:</label>
                    <div class="col-sm-10 field_wrapper">
                        <?php foreach ($postArray['phone'] as $numberArray => $value) {
                            echo '<input type="number" class="form-control" id="phone'.$numberArray .'" name="phone['.$numberArray.']" value=' . $escapeHtml($value) . '>';
                        }; ?>
                        <input type="number" class="form-control" id="phone" name="phone[new][]" placeholder="Enter phone number">
                        <a href="javascript:void(0);" class="add_button" title="Add field"><img src="/img/add-icon.png" height="16" width="16"/></a>

                    </div>
                <div class="form-group">
            <label class="control-label col-sm-2" for="content">Description:</label>
            <div class="col-sm-10"> 
              <textarea class="form-control" id="contact_description" name="contact_description" width="120">
                  <?php echo $escapeHtml($postArray['contact_description'])?>
              </textarea>
            </div>
          </div>

                <?php
                }
                ?>
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
        
        
        
    </div>
</div>



