<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ICD0007 Kontaktinfo rakendus</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/vep8354e4a2ys4amtoqunxojgcc39euxwz28xfohgw06v65r/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>tinymce.init({selector: 'textarea'});</script>


</head>
<body>
<div class="container">
    <div class="row">
        <!-- Page header -->
        <div class="col-md-4">
            <div class="app-caption"><a href="/"></a>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <ul class="nav navbar-nav">

                        <?php
                        if ($_COOKIE["lang"] == "en")
                        {
                            if (isset($_SESSION['adminid']) and $_SESSION['adminid'] > 0) {
                                if ($_SERVER['REQUEST_URI'] == "/")
                                    echo "<li class='active' ><a href='' id='app-page-link'>Home</a></li>";
                                else
                                    echo "<li><a href='/' id='app-page-link'>Home</a></li>";
                            }

                            if (!isset($_SESSION['adminid']) or !$_SESSION['adminid']) {
                                if ($_SERVER['REQUEST_URI'] == "/?cmd=login")
                                    echo "<li class='active'><a href='#'>Login</a></li>";
                                else
                                    echo "<li><a href='/?cmd=login'>Login</a></li>";
                            }


                            if (isset($_SESSION['adminid']) and $_SESSION['adminid'] > 0) {
                                if ($_SERVER['REQUEST_URI'] == "/?cmd=addcontact")
                                    echo "<li class='active'><a href='#' id='add-page-link'>Add contact</a></li>";
                                else
                                    echo "<li><a href='/?cmd=addcontact' id='add-page-link'>Add contact</a></li>";


                                echo "<li><a href='/?cmd=logout' id='log-out-link'>Logout</a></li>";
                            }


                            if ($_SERVER['REQUEST_URI'] == "/?cmd=about")
                                echo "<li class='active'><a href='#'>About</a></li>";
                            else
                                echo "<li><a href='/?cmd=about'>About</a></li>";
                            }
                        else
                            {

                                if (isset($_SESSION['adminid']) and $_SESSION['adminid'] > 0) {
                                    if ($_SERVER['REQUEST_URI'] == "/")
                                        echo "<li class='active'><a href='' id='app-page-link'>List</a></li>";
                                    else
                                        echo "<li><a href='/' id='app-page-link'>List</a></li>";
                                }

                                if (!isset($_SESSION['adminid']) or !$_SESSION['adminid']) {
                                    if ($_SERVER['REQUEST_URI'] == "/?cmd=login")
                                        echo "<li class='active'><a href='#'>Logi sisse</a></li>";
                                    else
                                        echo "<li><a href='/?cmd=login'>Logi sisse</a></li>";
                                }


                                if (isset($_SESSION['adminid']) and $_SESSION['adminid'] > 0) {
                                    if ($_SERVER['REQUEST_URI'] == "/?cmd=addcontact")
                                        echo "<li class='active'><a href='#' id='add-page-link'>Lisa kontakt</a></li>";
                                    else
                                        echo "<li><a href='/?cmd=addcontact' id='add-page-link'>Lisa kontakt</a></li>";


                                    echo "<li><a href='/?cmd=logout' id='log-out-link'>Logi välja</a></li>";
                                }


                                if ($_SERVER['REQUEST_URI'] == "/?cmd=about")
                                    echo "<li class='active'><a href='#'>Lehest</a></li>";
                                else
                                    echo "<li><a href='/?cmd=about'>Lehest</a></li>";
                            }
                        ?>
                        <li class="nav-item dropdown">
                            <?php if ($_COOKIE["lang"] == "en" )
                                echo "<a class='nav-link dropdown-toggle mr-2' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Language</a>";
                            else
                                echo "<a class='nav-link dropdown-toggle mr-2' href='' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Keel</a>"
                            ?>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <ul><a class="dropdown-item" href="?cmd=lang&set=en" id="lang-en-link">English</a></ul>
                               <ul><a class="dropdown-item" href="?cmd=lang&set=ee" id="lang-et-link">Eesti</a></ul>

                            </div>
                        </li>

                    </ul>
                </div>
            </nav>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Breadcrumbs -->
            <?php /* echo $this->pageBreadcrumbs()->render(); */ ?>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Page content placeholder -->
            <?= $this->content; ?>
        </div>
    </div>
    <hr>
    <footer>
        <p>ICD0007 2020 &copy; <a href="/?cmd=about">Visiitkaart.ee</a></p>
    </footer>
</div>
<?php /* = $this->inlineScript() */ ?>
</body>
</html>
